<div id="partial-wrapper" class="container animated fadeIn job-search-details-wrapper">

    <!-- company -->
    <div class="row title-row">
        <h1 class="panel-title">*|company-name|*</h1>
    </div>

    <div class="row composer-plate">
        <div class="row inner-tile">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="form-group text-center">
                        <img class="img img-responsive user-photo-thumb" src="*|company-logo-url|*">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <code class="pull-left small">*|country|**|city|*</code>
                </div>
            </div>
        </div>
    </div>
    <!-- end company -->

    <div class="spacer"></div>

    <!-- vacancy -->
    <div class="row title-row">
        <h1 class="panel-title">*|job-title|*</h1>
    </div>
    <div class="row composer-plate">
        <div class="row inner-tile">

            <div class="row">
                <span class="help-text small pull-right">*|created-date-time|*</span>
            </div>

            <div class="row *|hidden-responsibilities|*">
                <h4>Responsibilities</h4>
                <div><ul>*|responsibilities|*</ul></div>
            </div>

            <div class="row *|hidden-scope-of-responsibilities|*">
                <h4>Scope of Responsibilities</h4>
                <div><ul>*|scope-of-responsibilities|*</ul></div>
            </div>

            <div class="row *|hidden-entry-requirements|*">
                <h4>Entry Requirements</h4>
                <div><ul>*|entry-requirements|*</ul></div>
            </div>

            <div class="row *|hidden-additional-information|*">
                <h4>Additional Information</h4>
                <div><ul>*|additional-information|*</ul></div>
            </div>

            <div class="row">
                <h4>Require Visa</h4>
                <div>*|require-visa|*</div>
            </div>

            <div class="row top-pad-10">

                <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 remove-padding pull-left">
                    <a href="*|apply-now-url|*" target="_blank" type="button" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 btn btn-block btn-success">Login to apply</a>
                </div>
            </div>
        </div>
    </div>

    <!-- end vacancy -->

    <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right remove-padding">-->
            <!--<a href="#!/show/?key=quick-jobs-search&s=*|search-phrase|*&c=*|country-code-value|*&o=*|order-by-code-value|*" class="btn btn-default pull-right" title="Back">-->
                <!--<i class="fa fa-arrow-left" aria-hidden="true"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

</div>