<div class="col-md-2 remove-padding">
    <button class="btn-previous btn btn-default btn-block *|previous-disabled|*">
        <span>Previous</span>
    </button>
</div>

<div class="col-md-8 text-center animated fadeIn" style="">
    <span>Page</span>
    <span>*|index|*</span>
    <span>Of</span>
    <span>*|page|*</span>
    <br>
    <span>*|count|*</span>
    <span></span>
    <span>Items Found</span>
</div>

<div class="col-md-2 remove-padding pull-right">
    <button class="btn-next btn btn-default btn-block pull-right *|next-disabled|*">
        <span>Next</span>
    </button>
</div>