<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            margin: 0 auto;
            font-family: Helvetica,serif;
            padding: 40px;
        }
        a,a:hover,a:active,a:focus{
            color: #6c9d05 !important;
            text-decoration: none !important;
        }
        table{
            min-width: 100%;
            border-collapse: collapse;
        }
        #table-info caption strong{
            background-color: #f5fbe7;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: normal;
        }
        #table-info caption span{
            border: none !important;
        }
        #table-info .caption{
            font-weight: normal;
            background-color: #56565a;
            color: #ffffff;
            padding: 15px;
        }
        #table-info td, th {
            border: 1px solid #f9fcf3;
            text-align: left;
            color: #56565a;
            padding: 10px;
        }
        #table-info td{
            white-space:pre;
            color: #80bd01;
        }
        #table-info .standard-color td{
            color: #56565a;
        }
        #table-info .odd {
            background-color: #f9fcf3;
        }
        img{
            max-width:200px;
            padding-bottom:0;
            display:inline!important;
            vertical-align:bottom;
        }
    </style>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>

                <!-- logo -->
                <tr>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding:30px 15px;">
                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding: 0 9px;text-align:center">

                                                <a href="http://oildiversity.com" target="_blank">
                                                    <img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/0b6mCBPZA7A2LDOg2LbG-J9CGcaGzjZJnUO4vb72_ZekHa5zTTjHs2oLu0BY1e3HYcSv4P3iL92YP7cZyK6OLKB6D_H2DoVShk6ZsM1DqEGgt08xrOPXh8uq2ygJVOaoDT4Tng9LAazTkRpa6CdX4S-kLVEFNwqoGX5JH40=s0-d-e1-ft#https://gallery.mailchimp.com/ac897b9a23628041713c7db2d/images/acbd5844-134e-4113-ad48-78cbecdb3ea4.png" width="200">
                                                </a>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- /logo -->

                <!-- info -->
                <tr>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td valign="top" style="padding:0 15px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding: 20px;">

                                                <table id="table-info" border="0" cellpadding="0" cellspacing="0" width="100%">

                                                    <caption><strong>Date Submitted: *|date-submitted|*</strong></caption>
                                                    <!-- Info -->
                                                    <tr>
                                                        <th class="caption" colspan="2">New Contact Request</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Name</th>
                                                        <td>*|name|*</td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <th>Email</th>
                                                        <td>*|email|*</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Company</th>
                                                        <td>*|company|*</td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <th>Job Title</th>
                                                        <td>*|job-title|*</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Contact Number</th>
                                                        <td>*|contact-number|*</td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2">Message:</th>
                                                    </tr>
                                                    <tr class="odd standard-color">
                                                        <td colspan="2">*|message|*</td>
                                                    </tr>
                                                    <!-- /info -->

                                                </table>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- /info -->

                <!-- footer -->
                <tr>
                    <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:20px 35px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 2px solid #56565a;">
                                        <tbody><tr>
                                            <td>
                                                <span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td valign="top"  style="padding-top:9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;color: #656565;text-align: center;" width="100%">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding: 0 18px 9px;">
                                                Copyright © 2016 <span>Oil</span> Diversity Global. All Rights Reserved.<br>
                                                OilDiversityGlobal® is a registered trademark of the <span>Oil</span> Diversity Global Group.
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- /footer -->
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>