<!-- Social Network -->
<div id="social-network-wrapper" class="row">
    <div class="container">

        <!--<div class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-sm-3 col-xs-3">-->
        <!--<a href="//blog.oildiversity.com" target="_blank">-->
        <!--<i class="fa fa-rss social-icon"></i><span class="hidden-sm hidden-xs">Blog</span>-->
        <!--</a>-->
        <!--</div>-->
        <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2 col-xs-4">
            <a href="https://www.facebook.com/oildiversity/" target="_blank">
                <i class="fa fa-facebook social-icon"></i><span class="hidden-sm hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <a href="https://twitter.com/oildiversity" target="_blank">
                <i class="fa fa-twitter social-icon"></i><span class="hidden-sm hidden-xs">Twitter</span>
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <a href="https://www.linkedin.com/company/oil-diversity-global-ltd.?trk=prof-following-company-logo" target="_blank">
                <i class="fa fa-linkedin social-icon"></i><span class="hidden-sm hidden-xs">Linkedin</span>
            </a>
        </div>
    </div>
</div>
<!-- End Social Network -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <img class="desaturate brand-footer" src="https://cdn.oildiversity.com/app/images/logo/logo-horizontal.svg">
        <br>
        <a href="#!/show/?key=privacy-policy">Privacy Policy</a> | <a href="#!/show/?key=terms-of-service">Terms of Service</a>
        <br>
        <span>
            Copyright © 2016 B.E.V Oil & Gas. All Rights Reserved.
            <br>
            OilDiversityGlobal® is a registered trademark of the B.E.V Oil & Gas Group.
        </span>
    </div>
</div>
<!-- End Footer -->

<!-- Job Search Button -->
<div id="job-search-button-right" class="" style="display: none">
    <button class="btn btn-success quick-job-search-btn"><i class="fa fa-search"></i><span class="hidden-xs">&nbsp;Search Jobs</span></button>
</div>
<!-- Job Search Button -->