<div id="partial-wrapper" class="container animated fadeIn">
    <div class="row">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
    </div>
    <div class="row">
        <p><b> What exactly do Oil Diversity Global do ?</b></p>
        <p>
            <ul>
                <li>COMMUNITY NETWORK </li>
                <li>GRADUATE SHARE SCHEME</li>
                <li>GRADUATE RECRUITMENT </li>
                <li>HR SHARE PEOPLE PORTAL </li>
                <li>BUSINESS COLLABORATION </li>
                <li>RIG/VESSEL AVAILABILITY </li>
                <li>INDUSTRY AWARDS </li>
                <li>GLOBAL RECRUITMENT </li>
                <li>HR DOCUMENT LIBRARY </li>
               
            </ul>
        </p>

</div>
    </div>

       
