<li><a href="#!">Home</a></li>
<li><a href="#!/show/?key=about-us">About Us</a></li>
<li><a href="#!/show/?key=contact-us">Contact Us</a></li>
<li><a href="/news">Industry News</a></li>
<li><a href="#!/show/?key=graduate-recruitment">Graduate Recruitment</a></li>
<li><a href="#!/show/?key=community-network">Community Network</a></li>
<li><a href="#">Technology Showcase</a></li>
<li><a href="#">Entrepreneurial Innovation Station</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#!/show/?key=quarterly">Current Initiatives<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#!/show/?key=quarterly-awards">Awards</a></li>
    </ul>
</li>
<li><a href="#!/show/?key=frequently-asked-questions">FAQ's</a></li>