<li><a href="#!">Home</a></li>
<!--<li><a href="#!/show/?key=about-us">About Us</a></li>-->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#!/show/?key=about-us">About Us<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#!/show/?key=about-us">Introduction</a></li>
        <li><a href="#!/show/?key=frequently-asked-questions">FAQ's</a></li>
        <li><a href="#!/show/?key=efficiency-system">Our Efficiency System</a></li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#!/show/?key=">Our Services<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#!/show/?key=our-services">Our Services Explained</a></li>
        <li><a href="#!/show/?key=business-packages">Business Packages</a></li>
    </ul>
</li>
<li><a href="#!/show/?key=contact-us">Contact Us</a></li>
<li><a href="/news">Industry News</a></li>
<li><a href="#!/show/?key=graduate-recruitment">Graduate Recruitment</a></li>
<li><a href="#!/show/?key=community-network">Community Network</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#!/show/?key=quarterly">Current Initiatives<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#!/show/?key=quarterly-awards">Industry Awards</a></li>
        <li><a href="#!/show/?key=entrepreneurial-innovation">Entrepreneurial Innovation Station</a></li>
        <li><a href="#!/show/?key=technology-showcase">Technology Showcase</a></li>
        <li><a href="#!/show/?key=mentoring">Global Mentoring Platform</a></li>
    </ul>
</li>
<li><a href="#!/show/?key=business-advertising-opportunities">Business Advertising Opportunities</a></li>
<li><a href="#!/show/?key=nonExecutive-Board">Join our Non-Executive Board</a></li>
