<div id="partial-wrapper" class="container animated fadeIn">
    <div class="row">
        <h1>PRIVACY POLICY</h1>
    </div>
    <div class="row">
        <p>In order for us to deliver our services to you we need to know certain personal information about you. Otherwise Oil Diversity Global Website (<a href="//www.oildiversity.com">www.oildiversity.com</a>) wouldn’t work.</p>
        <p>Indeed, if you are unwilling to provide us with the required personal information then we won’t be able to offer you our service.</p>
        <p>We appreciate that you are trusting us with some of your most personal details. We won’t abuse that trust.</p>
        <p>It is important for you to know how we will use and protect your personal information.  In addition, you may be protected by specific privacy laws.</p>
        <p>If you have any questions about how Oil Diversity Global collects personal information, what information we have about you, how we use or share that information, you can contact our Privacy Manager at:</p>
        <p><strong>Email:</strong>&nbsp;<a href="mailto:privacy@oildiversity.com">privacy@oildiversity.com</a></p>
        <h3>What personal information do we need to collect?</h3>
        <p>At a minimum we need to collect the following from you about you and professional profile:</p>
        <ul>
            <li>Name</li>
            <li>Gender</li>
            <li>Date of birth</li>
            <li>Contact details such as phone numbers, email and social network</li>
            <li>Personal text and instant chat message content</li>
            <li>Photographs</li>
            <li>Education</li>
            <li>Email Address</li>
            <li>Current Job Information</li>
            <li>Professional Preferences</li>
            <li>Resume / CV</li>
        </ul>
        <p>Depending upon the features of our service that you use, there may be other personal information collected.</p>
        <h3>How do we collect your personal information?</h3>
        <p>All personal and other information we need to offer our service will be collected by us directly from you.</p>
        <p>We will also collect personal information about your professional preferences directly from you.</p>
        <p>Your information will be collected online via our web properties and may also be collected from you via paperwork or in your phone and face to face discussions with our team.</p>
        <p><em>Information that may be automatically collected</em></p>
        <p>Some information will be collected automatically whenever you visit our website (or any other website). For instance, the IP address of your computer which is unique to your computer and which can be used to identify your general geographic location.</p>
        <p>We won’t keep a copy of your IP address and you may browse the web properties we own and manage with anonymity.</p>
        <p>We will only store your IP address for security purposes where you have actively engaged to use our services.</p>
        <p>We use ‘cookies’ to give you a better experience when browsing on our web properties. A cookie is a small piece of data sent from our website and stored in your browser while you are browsing. Every time you load our website, your browser will send a cookie back to our server to notify us of your previous activity.</p>
        <p>General website usage information such as the number of visitors, the webpages visited and how long visitors viewed each page will be collected automatically and in the aggregate.  This means your general website usage may be included in total numbers showing how you and other categories of visitors browse and use our services. Your individual general usage information will always remain anonymous.</p>
        <p>Please note that third-party websites like Facebook and Twitter have their own rules for privacy. Even though you may be on a website with Oil Diversity Global branding, this doesn’t mean we own and manage that site. Our Privacy Policy only applies to the websites which we own and control such as <a href="//www.OilDiversity.com">www.OilDiversity.com</a>.</p>
        <h3>How secure is my personal information?</h3>
        <p>We do everything reasonably within our power to protect the privacy of your personal information. This includes what are widely-adopted and accepted best-practice processes and online protocols.</p>
        <p>Each user is authenticated using his/her own credentials. Usernames and passwords are not shared and you fave full visibility and control over who accesses your personal information.</p>
        <p>The communication channels with our websites are secured in terms of message confidentiality, integrity and are protected against being tampered with.</p>
        <p>Event audit logging enables investigation of all user access, photo and video transmission, and password delivery.</p>
        <p>Despite the commitment we make to protect your privacy and best efforts we make, you need to know that it is still possible for a variety of reasons beyond our control that your personal information may not be kept private.</p>
        <p>No system is perfect. There is always a risk that your personal information may be somehow released without our intention.</p>
        <h3>How do we use your personal information and will it be shared?</h3>
        <p>We use the personal information we collect from you for one general purpose and that is to deliver the best possible experience that we can for you.</p>
        <p>We are not interested in selling your data or giving it to third parties in any way that would jeopardise your privacy.  The service you want is the service we deliver for you and not uninvited SPAM.</p>
        <p>Of course it may be that we can deliver a better service to you by working with third parties, and we do in fact work with a variety of third parties to bring our service to life for you. If we need to share your personal information with anyone in these circumstances then we will only share the minimum data, on express condition that those parties also honour the privacy of your information, and we will always ask your permission first.</p>
        <p>Please note if we are under a legal obligation to release your information we must do so, or if we determine it is otherwise necessary to protect property or the safety of persons we may also do so.  In these cases, we will endeavour to contact you first.</p>
        <h3>What if I want to check or remove my personal data?</h3>
        <p>By definition to us your personal information is always yours.  We thank you for trusting us and we will treat it as we would our own team’s individual personal information.</p>
        <p>If you need to know what information we have about you, or if you want it updated, changed or returned, it will be done at your request with no questions asked.</p>
        <p>You can use the following:</p>
        <ul>
            <li>Functionality within our website for your account; or</li>
            <li><a href="#!/show/?key=contact-us">Contact us</a> to telephone or email our privacy manager.</li>
        </ul>
        <h3>What privacy laws apply?</h3>
        <p>Depending on where you live and use our service there may be specific privacy laws to govern how we collect, use and share your personal information</p>
        <p>We comply with all applicable laws.  We encourage you to review those laws and the different advice resources available to you via the relevant government agencies.</p>
        <p>Regardless of legal obligations, the protection of privacy is a core principle of how we do business.</p>
        <p>Even if there are no specific privacy laws that are applicable to your situation, we will honour your personal information as if there was and in accordance with the legislated protection afforded to our customers in other countries where we offer Oil Diversity Global.</p>
        <p>In other words, wherever we are bound by the strictest legal requirements to protect customers we will afford that protection to all our customers.</p>
        <h3>Consent and changes to this Privacy Policy</h3>
        <p>Before you agree to join our websites and provide your personal information you will be presented with option to review our Privacy Policy and Terms of Use.  By joining our websites you are consenting to this Privacy Policy and agreeing to the <a href="#!/show/?key=terms-of-service">Terms of Services</a></p>
        <p>We are not a static business.  We are always evolving to best serve you as our customer.</p>
        <p>From time to time there may be changes to this Privacy Policy, either because we have a better way of doing things or sometimes because of changes to applicable laws.</p>
        <p>Information that we collect, use and share is governed by the Privacy Policy in force as at that time.</p>
        <p>If there is an amendment to our Privacy Policy that affects you then we will let you know either via our website or an email.</p>
        <p>Your continuing use of our service will be deemed acceptance of our Privacy Policy and <a href="#!/show/?key=terms-of-service">Terms of Services</a> at that point in time.</p>
    </div>
</div>