<div id="partial-wrapper" class="container animated fadeIn">
    <h1>Sign Up</h1>
    <div class="row">
        <div class="table-responsive">
            <table id="table-sign-up" class="table table-striped">
                <tbody>
                    <tr class="gray-row">
                        <!--<th scope="row">-->
                        <!--</th>-->
                        <td class="title-row" rowspan="2">
                            <div id="image-container">
                                <img src="https://cdn.oildiversity.com/app/images/logo/logo-solo.svg" class="img-responsive logo-solo">
                                <img src="https://cdn.oildiversity.com/app/images/logo/logo-type-horizontal.svg" class="img-responsive logo-type-horizontal">
                                <span>Services & Corporate</span>
                            </div>
                        </td>
                        <th>PLATINUM PACKAGE</th>
                        <th>GOLD PACKAGE</th>
                        <th>SILVER PACKAGE</th>
                        <!--<th>BRONZE</th>-->
                    </tr>

                    <tr class="green-row">
                        <th>(Price on Request)</th>
                        <th>(Price on Request)</th>
                        <th>(Price on Request)</th>
                        <!--<th>(Price on Request)</th>-->
                    </tr>
                    <tr scope="row">
                        <th scope="row">COMPANY TYPE</th>
                        <td>
                            <b>
                                OILFIELD,NATIONAL<br />
                                AND MULTI-NATIONAL OIL COMPANIES
                            </b>
                        </td>
                        <td>
                            <b> SME’S </b><br />
                            companies with < 100 personnel<br />  with an annual turnover <br /> of less than 50 million USD per annum.
                        </td>
                        <td>
                            <b> BUSINESS START UPS </b><br />
                            Companies within their<br /> 1st year in business.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">COMMUNITY NETWORK</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">EMPLOYEE INTERNATIONALISATION PROGRAMME</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">GRADUATE RECRUITMENT</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">MENTORING PROGRAMME</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">REDUNDANCY/SHARED WORKFORCE RESOURCE</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">BUSINESS COLLABORATION</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">RIG/VESSEL AVAILABILITY</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">ACCESS & PARTICIPATION WITH INDUSTRY STATISTICS</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">LOGO FEATURE – WEBSITE, PROMOTIONAL MEDIA & LITERATURE</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">PARTICIPATION TO ALL ODG INDUSTRY EVENTS</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">INDUSTRY AWARDS</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <!--<td><i class="fa fa-check"></i></td>-->
                    </tr>
                    <tr>
                        <th scope="row">GLOBAL RECRUITMENT</th>
                        <td>Unlimited</td>
                        <td>
                            Unlimited Adverts<br />
                            
                        </td>
                        <td>
                            200 Adverts<br />
                            
                        </td>
                        <!--<td>
            100 Adverts<br/>
            2 x Users<br/>
            Unlimited Search
        </td>-->
                    </tr>
                 
                    <tr>
                        <th scope="row">BANNER ADVERTISING ON WEBSITE</th>
                        <td>2 x Month</td>
                        <td>1 x Month</td>
                        <td>1 x Month</td>
                        <!--<td></td>-->
                    </tr>
                    <!--<tr>
                        <th scope="row">HR DOCUMENT LIBRARY</th>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>-->
                        <!--<td><i class="fa fa-check"></i></td>-->
                    <!--</tr>-->
                    <tr>
                        <th scope="row">
                            USERS<br />
                            <small>
                                National<br />
                                Regional<br />
                                Global<br />
                            </small>
                        </th>
                        <td>5<br/>10<br/>15<br/></td>
                        <td>2<br/>5<br/>10<br/></td>
                        <td>2<br/>5<br/><br/></td>
                    </tr>
                    <!--<tr>
                        <th scope="row">
                            TRAINING<br />
                            <small>
                                Leadership<br />
                                Change Management<br />
                                Diversity and Inclusion
                            </small>
                        </th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>-->
                    <!--<tr>
                        <th scope="row">CONTINUED SUPPORT THROUGH TRAINING IMPLEMENTATION</th>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>-->
                    <tr>
                        <th scope="row">NOMINATED JUDGING REPRESENTATIVES FOR AWARDS</th>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <th scope="row">SPONSORSHIP OF AN AWARD</th>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                        <!--<td></td>-->
                    </tr>
                    <tr>
                        <th scope="row">ODG COLLABORATIVE PANNEL</th>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                        <!--<td></td>-->
                    </tr>
                    <tr id="button-wrapper">
                        <th></th>
                        <td>
                            <a href="*|base-app-url|*#/signup?l=en&pc=platinumPlan">Sign Up</a>
                        </td>
                        <td>
                            <a href="*|base-app-url|*#/signup?l=en&pc=goldPlan">Sign Up</a>
                        </td>
                        <td>
                            <a href="*|base-app-url|*#/signup?l=en&pc=silverPlan">Sign Up</a>
                        </td>
                        <!--<td>
            <a href="*|base-app-url|*#/signup?l=en&pc=bronzePlan">Sign Up</a>
        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>