<div class="row">
    <div class="table-responsive">
        <table id="table-green" class="table table-striped">
            <thead class="green-row">
            <tr>
                <th>SERVICES</th>
                <th>DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>COMMUNITY NETWORK</td>
                <td>Function allowing partners to promote their business and services to all other affiliated partners, search for Suppliers, Products, and Services.</td>
            </tr>
            <tr>
                <td>GRADUATE SHARE SCHEME</td>
                <td>An inter-company initiative to encourage companies to multi train their graduate candidates and encourage business collaboration.  This gives graduates the chance to gain International exposure and multi-discipline training.  These journeys will be followed through our website and magazine to promote the advantages of Business Collaboration.</td>
            </tr>
            <tr>
                <td>GRADUATE RECRUITMENT</td>
                <td>Advertise all your yearly graduate campaigns</td>
            </tr>
            <tr>
                <td>MENTORING PROGRAMME</td>
                <td>Join our Global mentoring platform, fast track your personnel with first class mentoring from Internationally recognised leaders in the industry around the globe.</td>
            </tr>
            <tr>
                <td>REDUNDANCY PORTAL</td>
                <td>A Business Collaboration initiative to assist personnel or contractors whom are to be made redundant, or; coming to the end of their contract to be viewed, verified, and recruited by all partners.
                    This is a new initiative to reduce partners costs, encourage business collaboration and keep our highly skilled personnel in the workforce.
                </td>
            </tr>
            <tr>
                <td>BUSINESS COLLABORATION</td>
                <td>Partners can list any tender, non-tender requirement(s), procure suppliers, equipment, products, services and know how within the
                    Oil Diversity community.</td>
            </tr>
            <tr>
                <td>RIG/VESSEL AVAILABILITY</td>
                <td>View all Rig/Vessel specifications and availability around the world.</td>
            </tr>
            <tr>
                <td>ACCESS & PARTICIPATION WITH INDUSTRY STATISTICS</td>
                <td>Active participation in all Global Industry Statistics and access to all statistics on-line.</td>
            </tr>
            <tr>
                <td>LOGO FEATURE – WEBSITE, PROMOTIONAL MEDIA & LITERATURE</td>
                <td>All participating Partners logos will be featured on the Oil Diversity Global website and all our promotional media and literature associated
                    with supporting Diversity & Inclusion within the Oil & Energy Industry.  Premier affiliated companies will also be contacted monthly for all
                    D&I, Business Collaboration, New Employees/On the Move and PR for print online and in our Quarterly magazines.  Please note we will
                    also add a click through to your website from the logo to a page of your choosing.</td>
            </tr>
            <tr>
                <td>INDUSTRY AWARDS</td>
                <td>Entry of all employees into all Oil Diversity Global Quarterly Awards and associated press. (Sponsorship included in some packages which
                    gives a company dedicated sponsorship of an industry award of their choice throughout the year).</td>
            </tr>
            <tr>
                <td>GLOBAL RECRUITMENT</td>
                <td>Post vacancies, search candidates and manage applications in our online management system. All positions advertised across our Global social media & press.  Also marketed directly to relevant candidates.


                    (Please note to maintain the integrity of the site and attract top quality personnel this site will only be open to affiliated partners
                    and will not be accessible to any recruitment Companies or 3rd parties).
                </td>
            </tr>
            <tr>
                <td>QUARTERLY MAGAZINE</td>
                <td>Access to Advertising in our Quarterly Magazine.  Magazine is currently distributed to 3000 companies Globally and is growing monthly.
                    Please see attached partnership tiers for more information.</td>
            </tr>
            <tr>
                <td>BANNER ADVERTISING ON WEBSITE</td>
                <td>Have a Banner Advertisement on our website to promote your company, promotions, and campaigns.  These can be changed monthly.
                    Please see attached partnership tiers for more information.</td>
            </tr>
            <tr>
                <td>HR DOCUMENT LIBRARY</td>
                <td>Access a full Global library of Diversity & Inclusion, Change Management and Leadership strategy documents and processes.</td>
            </tr>
            <tr>
                <td>
                    TRAINING<br/>
                    <small>
                        Leadership<br/>
                        Change Management<br/>
                        Diversity and Inclusion
                    </small>
                </td>
                <td>One of our dedicated Oil Diversity Global Consultants will evaluate where your company is currently at regarding Leadership, Change
                    Management and Diversity & Inclusion strategy.  They will then work with your management team to assess what you would like to achieve
                    and help you train your personnel and implement processes and strategy in line with your company strategy.</td>
            </tr>
            <tr>
                <td>SUPPORT THROUGH STRATEGY IMPLEMENTATION</td>
                <td>We will offer telephone support and guidance through the process and strategy implementation phase of your company.
                    (Partnership Tier dependent)</td>
            </tr>
            <tr>
                <td>NOMINATED JUDGING REPRESENTATIVES FOR AWARDS</td>
                <td>Nominated judging representatives for all Oil Diversity Global Awards.</td>
            </tr>
            <tr>
                <td>SPONSORSHIP OF AN AWARD</td>
                <td>Full sponsorship of an award of your choice throughout the year.</td>
            </tr>
            <tr>
                <td>PARTICIPATION TO ALL ODG INDUSTRY EVENTS</td>
                <td>Oil Diversity Global will be organising events around the world for both affiliated and non-affiliated companies discussing Diversity & Inclusion,
                    Change Management & Leadership and Business Collaboration.  We will be asking our Partners for representation, speakers and
                    collaboration at these events.</td>
            </tr>
            <tr>
                <td>ODG COLLABORATIVE PANNEL</td>
                <td>ODG will be forming its own non-typical ‘non-executive’ board.  This will consist of representation from our Platinum sponsors and we will
                    discuss regularly new initiatives, products, and services we can continue to add to the site to ensure the most cost effective, efficient system
                    for all our users.

                    We will also be looking at ‘best practice’ for Business Collaboration and bringing our partners together.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>