<!-- Header Background -->
<div id="header-background" class="row">
    <div id="title-wrapper">
        <div class="container">
            <div id="title-container" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 remove-padding">
                <img src="https://cdn.oildiversity.com/app/images/logo/logo-type-horizontal-white.svg" class="hidden-sm hidden-xs">
                <div class="col-lg-12">
                    <h3>The New Era of Global Business Collaboration and Workforce Efficiency</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="login-wrapper">
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12 remove-padding">
                <h1>Sign In</h1>
                <a href="*|base-app-url|*#/troubleloggingin?l=en"><small>Trouble logging in?</small></a>
                <!--<a id="trouble-logging-in-link" href="javascript:void(0)"><small>Trouble logging in?</small></a>-->
                <div id="job-seeker-login-wrapper" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <button id="job-seeker-login-btn" class="btn btn-block btn-success">JOB SEEKER LOGIN</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <button id="client-login-btn" class="btn btn-block btn-success">CLIENT LOGIN</button>
                </div>
                <small id="first-time-user-login">
                    <span class="pull-left"><a href="#!/show/?key=sign-up">Client Sign Up</a></span>
                    <span class="pull-right"><a href="*|base-app-url|*#/signup">Job Seeker Sign Up</a></span>
                </small>
            </div>
        </div>
    </div>
</div>
<!-- End Header Background -->

<!-- Sponsor -->
<form id="sponsor-wrapper" class="row">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
            <h1>Our Business Collaboration Partners</h1>
            <div id="logos-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding owl-carousel owl-theme container-fluid"></div>
            <!--<div id="logos-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding text-center">-->
            <!--<span>-->
            <!--<h3>Launching in August 2016</h3>-->
            <!--<h4>Our Clients are busy loading their vacancies onto the system, please revisit us in August</h4>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div id="visit-all-link" class="col-lg-12 text-right remove-padding">-->
            <!--<a href="javascript:void(0)">Visit All Clients Here</a>-->
            <!--</div>-->
        </div>
    </div>
</form>
<!-- End Sponsor -->

<!-- JOIN -->
<div class="row equal">

    <div id="join-wrapper" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
        <div id="right-side">
            <!--<div class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-2 col-sm-12 col-xs-12 remove-padding">-->
            <div class="row">
                <h1>Join us as an affiliated Partner</h1>
            </div>
            <div id="join-description" class="row">
                <p>
                    Every company seeks to gain competitive advantage, and in our rapidly
                    changing industry, Business Collaboration, Workforce Efficiency and 
                    Smart Tool technologies are becoming ever more recognised as a key 
                    route to success.
                </p>
                <p>
                    Oil Diversity Global has been built for companies of all sizes around
                    the globe to bring these tools onto one global platform to take action
                    and provide solutions for some of our industry&#39s biggest challenges,
                    helping us all to evolve as a collective.
                </p>
            </div>
            <div id="lets-start-today-wrapper" class="row">
                <a href="#!/show/?key=sign-up" class="btn btn-white col-lg-4 pull-right">LETS START TODAY</a>
            </div>
            <!--</div>-->
        </div>

    </div>

    <div id="job-search-wrapper" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
        <div id="left-side">
            <div id="job-search-container" class="row">
                <div class="col-lg-9 col-lg-offset-1 col-md-9 col-md-offset-1 col-sm-12 col-xs-12 remove-padding-xs">
                    <button class="btn btn-success btn-block quick-job-search-btn">Quick Jobs Search</button>
                    <div class="row">
                        <h3>We connect you straight to the employer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- End JOIN -->

<!-- Quotes Background -->
<div id="quotes-background" class="row">
    <div class="container">
        <div id="quotes-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 owl-carousel owl-theme container-fluid remove-padding"></div>
    </div>
</div>
<!-- End Quotes Background -->